*{
    margin:0;
    padding: 0;
}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeue-webfont.woff') format('woff'),
        url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
        url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* 16px = 12pt = 100% = 1em*/
body{
    background: #FFF url(../img/bgBody.jpg) repeat ; 
    color: #FFF;
    font-family: "BebasNeueRegular" Helvetica, Verdana;
    font-size: 2em;
}

header h1{
    float: right;
    margin: 0.25em auto;
    font-size: 0.65em;
    margin-top: 21px;
    font-family: "Bell MT";
    color: #222; 
}
nav{
    background: #222509;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fcd994;
    font-family: "Bell MT";
    font-size: 0.8em;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.59);
    -webkit-box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.59);
}
.nav{

    float: right; 

}/*
nav a{
        color: #fcd994;
        text-decoration: none;
}
nav ul{
    float: right;
    margin-right: 10px;
}
nav li{
    font-size: 0.8em;    
    padding-left:10px;
    float: left;
}*/
* {
    font-family:sans-serif;
    list-style:none;
    text-decoration:none;
    margin:0;
    padding:0;
}
.nav > li {
    float:left;
}
.nav li a {    
    font-size: 0.7em; 
    display:block;
    color: #fcd994;
    text-decoration: none;
    padding:5px;
}
.nav li ul {
    background: #222509;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display:none;
    position:absolute;
    min-width:140px;
    z-index: 1

}
.nav li:hover > ul {
    display:block;
}
.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    left:-140px;
    top:0;
}
.nav li .flecha{
    font-size: 9px;
    padding-left: 6px;
    display: none;
}
.nav li a:not(:last-child) .flecha {
    display: inline;
}
#logo {
    float: left;
    font-size: 0.75em;
    margin-top: 10px;
}
header, nav{

    margin:0.5em auto;
    max-width: 960px;
    padding: 0.25em;
    overflow: hidden;

}
footer{
    background: #222509;
    color: #f2d697;
    font-size: 0.35em;
    text-align: center;
    width: 100%;
}
footer p{
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
}

section#contenedor{
    margin:2em auto;
    max-width: 960px;
    padding: 20px ;
    border: none ;
    text-align: center;
    background: #faf1dd;
    position:relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
input{
    border: solid 2px #1A4E23;
    padding: 8px 10px;
    width: 430px;
    display: block;
    background-color: white;
    margin-bottom: 20px;    
    margin-right: 6px;
    color: #1A4E23;
    font-weight: 700;

}
input#botton{
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgb(98,125,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(98,125,77,1) 0%, rgba(31,59,8,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(98,125,77,1)), color-stop(100%,rgba(31,59,8,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(98,125,77,1) 0%,rgba(31,59,8,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 ); /* IE6-9 */
    width: 100px;
    color: #FAF1DD;
    font-weight: 700;
    float: right;


}
input#botton:hover{
    background: rgb(31,59,8); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(31,59,8,1) 0%, rgba(98,125,77,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,59,8,1)), color-stop(100%,rgba(98,125,77,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(31,59,8,1) 0%,rgba(98,125,77,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(31,59,8,1) 0%,rgba(98,125,77,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(31,59,8,1) 0%,rgba(98,125,77,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(31,59,8,1) 0%,rgba(98,125,77,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f3b08', endColorstr='#627d4d',GradientType=0 ); /* IE6-9 */
    cursor: pointer;
}
.current{
    text-decoration: underline;
    color: #FFAF22 !important;
}
form{
    padding: 10px 70px;
}

section#contenedor:after{
    content: "";
    position:absolute;
    right: 0;
    bottom: 10px;
    width:150px;
    height: 10px;
    z-index: -1;
    background: rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 20px 30px 24px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 20px 30px 24px rgba(0, 0, 0, 0.5);
    box-shadow: 20px 30px 24px rgba(0, 0, 0, 0.5);
    -moz-transform:skew(10deg,10deg) translate(-45px,-15px);
    -webkit-transform:skew(10deg,10deg) translate(-45px,-15px);
    transform:skew(10deg,10deg) translate(-45px,-15px);
}
section#contenedor h2{
    color: #3c4404;
    font-size: 1em;
    text-align: left;
    padding:20px 0;
}
section#contenedor p{
    color: #000;
    font-size: 0.5em;
    text-align: justify;
}


section#principal, aside{
    background: #1E6381;
    border-radius: 0.5em;
    box-sizing: border-box;
    display: inline-block;
    margin: 0.25em auto;
    max-width: 960px;
    min-height: 200px;
    padding: 0.25em;
    text-align: center;
    vertical-align: top;
    width: 70%
}
#error{
    text-align: left;
    color: red;
    font-size: 0.6em;
    margin-bottom: 20px
}
label{
    font-size: 0.9em;
    font-weight: 700;
    color: #152C0E;

}

article{
    background: #011E30 ;
    border-radius: 0.5em;
    min-height: 100px;
    padding: 0.25em;
}
aside{
    width: 27%;
}
@media screen and (max-width: 480px){
    h1{
        color: #F00;
        font-size: 1.5em;
    }
    section#principal, aside{
        vertical-align: top;
        width: 100%
    }
    img{
        width: 200px;
    }
}

img, section#principal, aside, h1{
    transition:all .2s linear;
    -o-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -webkit-transition:all .2s linear;
}
img:before {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
    position: absolute;
    content: "";
    top: 30px;
    left: -50px;
}
ul{
    list-style: none;
}
